

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.Staff {
    width: 300px;
    border: 2px solid #489897;
    padding: 50px;
    margin: 20px;
}

.Admin {
    width: 300px;
    border: 2px solid #489897;
    padding: 50px;
    margin: 20px;
}

.topnav {
    background-color: #489897;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}




.Beide{
    display: flex;
    justify-content: space-evenly;
    width:2000px; height: auto; overflow: hidden; position: absolute;top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.Beide .left,
.Beide .right {
    flex: 1;
}

/* Set a style for all buttons */
button {
    background-color: #489897;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}



button:hover{
    opacity: 0.8;
}