.content-table {
    border-collapse: collapse;
    margin:25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

.content-table tr {
    background-color: #489897;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td {
    padding: 12px 15px;
}

.content-table tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tr:nth-of-type(even) {
    background-color:  #18413a;
}

.content-table tr:last-of-type {
    border-bottom: 2px solid #489897;
}

.hidden {
    display: none;
}